<div id="<%= dom_id contact_organization %>">
  <p>
    <strong>Contact organization id:</strong>
    <%= contact_organization.contact_organization_id %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= contact_organization.contact_id %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= contact_organization.organization_id %>
  </p>

</div>
