<h1>Editing contact organization</h1>

<%= render "form", contact_organization: @contact_organization %>

<br>

<div>
  <%= link_to "Show this contact organization", @contact_organization %> |
  <%= link_to "Back to contact organizations", contact_organizations_path %>
</div>
