<div id="<%= dom_id appcat %>">
  <p>
    <strong>Appcatid:</strong>
    <%= appcat.appcatID %>
  </p>

  <p>
    <strong>Categoryid:</strong>
    <%= appcat.categoryID %>
  </p>

  <p>
    <strong>Applicationid:</strong>
    <%= appcat.applicationID %>
  </p>

</div>
