<p style="color: green"><%= notice %></p>

<h1>Appcats</h1>

<div id="appcats">
  <% @appcats.each do |appcat| %>
    <%= render appcat %>
    <p>
      <%= link_to "Show this appcat", appcat %>
    </p>
  <% end %>
</div>

<%= link_to "New appcat", new_appcat_path %>
