<!DOCTYPE html>
<html>
    <head>
        <title>Help Page</title>
    </head>
    <body>    
        <p>Welcome to the help page for the Wade web scraping application! Below are some notes that may be helpful to you:</p>

        </br>

        <h2>Filtering</h2>
        <p> 
        You can type normally within most of the fields to filter out based on the text you typed. 
        </p>

        </br>

        <p> 
        We use the SQL wildcard characters. We have _ which is a wildcard for one single character. \n
        For example: _ggies would let anything such as Aggies,bggies, cggies... 
        </p>

        </br>

        <p> 
        We also use the % operator which lets any number of characters occur. \n
        For example: %ggies would result in bubmblebeeggies, applesauceggies, wadeggies... 
        </p>

        </br>

        <p> 
        For the range searches, the first field is for the start of the range, and the second field is for the end of the range. \n
        For example, with the number of applications if you type 1 and 3, you will get everything between and including those ranges. 
        You can also only specify one of them.
        </p>

        </br>

        <p>
        Another thing to note is that for the year/date you must type in the full date, partial dates are not allowed.
        Example: 2023-04-01 is a good date.
        </p>
    </body>
</html>
