<div id="<%= dom_id student_org %>">
  <p>
    <strong>Name:</strong>
    <%= student_org.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= student_org.email %>
  </p>

  <p>
    <strong>Full name:</strong>
    <%= student_org.full_name %>
  </p>

</div>
