<h1>Editing student org</h1>

<%= render "form", student_org: @student_org %>

<br>

<div>
  <%= link_to "Show this student org", @student_org %> |
  <%= link_to "Back to student orgs", student_orgs_path %>
</div>
