<div id="<%= dom_id organization %>">
  <p>
    <strong>Orgid:</strong>
    <%= organization.orgID %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= organization.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= organization.description %>
  </p>

</div>
