

<p class="notice"><%= notice %></p>

<% if @organizations.count != 0 %>
  <% org = @organizations.first %>
  <div class="notice-container">
  <h3><%= org.description %></h3>
  </div>
<% end %>

<div class="mx-auto">
  <%= render "custom_view", orgs: @orgs%>
</div>
