<div id="<%= dom_id application_category %>">
  <p>
    <strong>Application category:</strong>
    <%= application_category.application_category_id %>
  </p>

  <p>
    <strong>Application:</strong>
    <%= application_category.application_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= application_category.category_id %>
  </p>

</div>
