<h1>New application category</h1>

<%= render "form", application_category: @application_category %>

<br>

<div>
  <%= link_to "Back to application categories", application_categories_path %>
</div>
