<div id="<%= dom_id category %>" class="rendertext">
  <p>
    <strong>Category id:</strong>
    <%= category.category_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= category.description %>
  </p>

</div>
